
.digital{
    border: 1rem solid 0px 0px 5px rgb(37, 58, 241);
    box-shadow:0 0 25px rgb(37, 58, 241),
    0 0 5px rgba(0,178,255,1),
    0 0 5px rgba(0,178,255,1);
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 1.50rem;
    color: #fff;
	margin-top: 40%;
	text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 5px rgba(0,178,255,1);	
		
		
}